.vs/
/DefectStudioCXX/x64/Debug/DefectStudioCXX.log
POSCAR_*
/DefectStudioCXX/x64/Debug/DefectStudioCXX.tlog/link.read.1.tlog
/DefectStudioCXX/x64/Debug/DefectStudioCXX.tlog/CL.write.1.tlog
/DefectStudioCXX/x64/Debug/DefectStudioCXX.tlog/CL.read.1.tlog
/DefectStudioCXX/x64/Debug/DefectStudioCXX.tlog/CL.command.1.tlog
/OUTPUT
